# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
# API Configuration
NEXT_PUBLIC_API_URL="http://localhost:8080/"

NEXTAUTH_SECRET="my_something_is_not_secret_at_all"
# Google OAuth
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
# GitHub OAuth
GITHUB_CLIENT_ID="your_github_client_id"
GITHUB_CLIENT_SECRET="your_github_client_secret"
# Facebook OAuth
FACEBOOK_CLIENT_ID="your_facebook_client_id"
FACEBOOK_CLIENT_SECRET="your_facebook_client_secret"
